footer {
    position: fixed;
	background: #fff;
	background: #fff;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 50;
}

footer .container {
	padding: 0;
	height: 130px;
	margin-bottom: 0px;
	border-top: 1px solid #F4B183;
	font-size: 0.5em;
	padding-top : 15px;
}
.container .footerBoard .left-footer {
	display: flex;
	justify-content: center;
}

.container .footerBoard img {
	width: 100px;
	height: 50px;
	padding: 5px;
	margin-right: 20px;
}

.container .right-footer {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}


#p {
	font-size: 10px !important;
	margin-bottom: 0 !important;
}

h6 {
	font-size: 12px !important;
	margin-bottom: -10px !important;
}
