.carousel-control.right, .carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%,
        rgba(0, 0, 0, 0) 100%)
}

header {
	position: fixed;
	background: #fff;
	background: #fff;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 50; /*position을 이용하면 요소가 겹쳐질 수 있다. 숫자가 제일 높은값이 위로 떠오른다*/
}



/* header 의 모든 컨테이너 클래스에 적용함 */
.container {
	padding: 0;
    height: 80px;
	margin-bottom: 0px;    
    border-bottom: 2px solid #F4B183;

}

/* 로그인 버튼 메뉴 가로정렬 */
.container .inner-container {
	display: flex;
	position: relative;
}
.container .inner-container .login-menu {
	display: flex;
	position: absolute;
	top: 50px;
	right: 0;
}

/* 로그인 버튼 메뉴 위치 및 디자인 */
.container .inner-container .login-menu > li > a{
	margin-left: 20px;
	color: #F0975A;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;

}
