.carousel-control.right,
.carousel-control.left {
	background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%,
			rgba(0, 0, 0, 0) 100%)
}

header {
	position: fixed;
	background: #fff;
	background: #fff;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 50;
}


header .container {
	padding: 0;
	height: 80px;
	margin-bottom: 0px;
	border-bottom: 2px solid #F4B183;

}


.container .inner-container {
	display: flex;
	position: relative;
}

.container .inner-container .login-menu {
	display: flex;
	position: absolute;
	top: 50px;
	right: 0;
}


.container .inner-container .login-menu>li>a {
	margin-left: 20px;
	color: #F0975A;
}