

.bigBorder {
    display: flex;
}

.smallBorder {
    width: 60%;
}


/* 첨부하기 */
.pictures {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#file-upload-img {
    width: 60%;
}

.imgSelect p {
    margin-top: 10px;
}
.custom span.warn {
    margin-top: 100px;
}


/* 인풋박스 */
.border {
    width: 70%;
    display: flex;
}

.border p {
    display: inline-block;
    margin-right: 10px;
    text-align: right;
    width: 15%;
}
.border p span, .partyPeople p span, .restName p span {
    color: #F4B183;
}


.border input, .border textarea {
    width: 90%;
    margin-bottom: 30px;
}


/* 파티인원, 식당 */
.partyPeople, .restName {
    display: flex;
    margin-left: 10px;
    width: 90%;
    justify-content: flex-start;
    
}

.partyPeople select, .restName2 {
    width: 80px;
    margin: 0 0 1rem 1rem; 
}

.restName input {
    width: 60%;
}





/* 등록하기 버튼 */
#writeBtn {
    border-radius: 5px;
    display: block;
    margin: 50px auto;
}