/*--------------- General Setting ---------------*/
.size {
    height: 500px;
    overflow: hidden;
    margin-top: 100px;
}

body a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

/*--------------- header.jsp ---------------*/
header {
    background-color: #fff;
}

.container .inner-container .login-menu li a {
    margin-left: 20px;
}

/*--------------- footer.jsp ---------------*/
#p {
    font-size: 10px !important;
    margin-bottom: 0 !important;
}

h6 {
    font-size: 12px !important;
    margin-bottom: -10px !important;
}

/*--------------- Main Page (home.jsp) ---------------*/
.carousel-control.right,
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%,
            rgba(0, 0, 0, 0) 100%)
}

.page-header h1 {
    margin-left: 10px;
    font-weight: bold;
}

.page-header small {
    margin-left: 10px;
    font-size: 15px;
    font-weight: normal;
}

.p-0 .thumbnail-size {
    width: 220px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.p-0 .thumbnail-size img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*--------------- PartyList Page (partyList.jsp) ---------------*/
.partyList {
    position: relative;
}

#orderBy {
    position: absolute;
    top: 0;
    right: 10px;
}

#top {
    height: 130px;
}