/*--------------- General Setting ---------------*/
.size {
	height: 500px;
	overflow: hidden;
	margin-top: 60px;
}

body a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}

i {
	position: relative;
}

.necessary {
	font-weight: bold;
	font-size: 15px;
	color: red;
}

.information {
	font-size: 13px;
	color: lightgray;
	margin-bottom: 5px;
}

/*--------------- header.jsp ---------------*/
header {
	background-color: #fff;
}

.container .inner-container .login-menu li a {
	margin-left: 20px;
}

/*--------------- footer.jsp ---------------*/
#p {
	font-size: 10px !important;
	margin-bottom: 0 !important;
}

h6 {
	font-size: 12px !important;
	margin-bottom: -10px !important;
}

/*--------------- Main Page (home.jsp) ---------------*/
.carousel-control.right,
.carousel-control.left {
	background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%,
			rgba(0, 0, 0, 0) 100%)
}

.page-header h1 {
	margin-left: 10px;
	font-weight: bold;
}

.page-header small {
	margin-left: 10px;
	font-size: 15px;
	font-weight: normal;
}

.p-0 .thumbnail-size {
	width: 220px;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.p-0 .thumbnail-size img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*--------------- Join Page (userJoin.jsp) ---------------*/
#section {
	margin: 70px auto 0;
	max-width: 600px;
}

/* 아이디 input, btn */
#userId {
	margin-right: 10px;
}

/* 이메일 input */
#emailBorder {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

#emailBorder p {
	margin: 0 10px;
}

#userEmail1 {
	flex-grow: 10;
}

#userEmail2 {
	flex-grow: 10;
	margin-right: 10px;
}

#emailSelection {
	flex-grow: 10;
	margin-bottom: 0;
	height: 48.67px;
}

#emailCheck {
	margin-right: 10px;
}

/* 활동하고 싶은 동네 */
#locBorder {
	display: flex;
	height: 48.67px;
}

#locBorder .locGu {
	margin-right: 10px;
}

/* 회원가입 로그인 버튼 */
.btns {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

#joinBtn,
#loginBtn {
	width: 135px;
	height: 50px;
	margin: 0 10px;
}


/*--------------- Login Page (userLogin.jsp) ---------------*/
.loginBorder {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 200px;
}

.loginBorder .idPw {
	margin-bottom: 30px;
}

.loginBorder .idPw #userId.loginId {
	margin-bottom: 10px;
}

.loginBorder .idPw #userPw.loginPw {
	margin-top: 10px;
}

.login-div {
	display: flex;
	flex-direction: column;
}

#loginBtn.loginBtn {
	width: 100px;
	height: 100px;
	border-radius: 5px;
}

#joinBtn.joinBtn {
	background-color: white;
	padding: 0;
	width: 100px;
	height: 30px;
	text-align: center;
}

#joinBtn a {
	text-decoration: none;
	color: #F0975A;
	font-size: 15px;

}

/*--------------- PartyList Page (partyList.jsp) ---------------*/
.partyList {
	position: relative;
}

#orderBy {
	position: absolute;
	top: 0;
	right: 10px;
}

#top {
	height: 130px;
}

/* 최상단 이동 버튼 */
.stickyButtons {
	position: sticky;
	bottom: 430px;
	padding-left: 1220px;
}

.stickyButtons a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-top: 15px;
}

i.bi-arrow-up-short {
	font-size: 40px;
}

i.bi-arrow-up-short::before {
	background-color: #fff;
	color: #F0975A;
	border: 2px solid #F0975A;
	border-radius: 50%;
}

#register {
	display: inline-block;
	width: 42px;
	height: 42px;

	background-color: #fff;
	color: #F0975A;
	border: 2px solid #F0975A;
	border-radius: 50%;
}

i.bi-pencil {
	font-size: 25px;
}

i.bi-pencil::before {
	padding: 6.5px;
}