/* 폰트 */
@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 전체 기본 세팅 */
* {
  font-family: 'SEBANG_Gothic_Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 로그인 페이지 */
.login {
  width: 500px;
  margin: 150px auto;
}

.login h2 {
  line-height: 60px;
  text-align: center;
  border-bottom: 1.5px solid #F0975A;
  margin-bottom: 10px;
}

.login form {
  width: 340px;
  margin: 10px auto;
  position: relative;
}

.login [class^=form-] {
  display: block;
  height: 40px;
  width: 250px;
  border: none;
  outline: none;

  font-size: 14px;
  padding: 0 15px;
}

.login .border {
  height: 40px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #BCBEC0;
  overflow: hidden;
}

.login .border:first-child {
  margin-bottom: 5px;
}

.login button {
  width: 85px;
  height: 85px;
  border-radius: 5px;
  background-color: #F0975A;
  color: white;
  border: none;

  font-size: 20px;

  position: absolute;
  top: 0;
  right: 0;
}