/* 전체 기본 세팅 */
.size {
    height: 500px;
    overflow: hidden;

    margin-top: 90px;
}

body a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

/* Header */
.carousel-control.right,
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%,
            rgba(0, 0, 0, 0) 100%)
}

header {
    position: fixed;
    background: #fff;
    background: #fff;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
}

header .container {
    border-bottom: 2px solid #F0975A;
}

.container .inner-container {
    display: flex;
    justify-content: space-between;
}

.container .inner-container .login-menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: end;
    list-style-type: none;
}

.container .inner-container .login-menu li a {
    margin-left: 20px;
    text-decoration: none;
    color: #F0975A;
}

/* 메인 페이지 */
.page-header h1 {
    margin-left: 10px;
    font-weight: bold;
}

.page-header small {
    margin-left: 10px;
    font-size: 15px;
    font-weight: normal;
}

.getParty .page-header {
    border-bottom: 1px solid #F4B183;
}

.getParty .thumbnail-size {
    width: 220px;
    height: 300px;

    background-image: url(../img/thumbnail_1.jpg);
    background-position: center;
    background-size: cover;

    margin: 20px auto;
}