#section{
	margin: 0 auto;
	max-width: 600px;
}




.title {
	padding-top: 100px;
	text-align: center;
	margin-bottom: 30px;
}

/* 필수입력사항 */
.necessary {
	font-weight: bold;
	color: red;
}

.idBorder {
	display: flex;
}



/* input제목 */
#block p {
	margin: 20px 0 0 0;
}

/* 아이디 input, btn */
.form_id {
	width: 50% !important;
	flex-grow: 5;
	margin-right: 10px;
}
#idCheckBtn, #emailCheckBtn {
	flex-grow: 1;
	background: #F4B183;
	border: #F4B183;
	color: white;
	transition: 0.3s;
}
#idCheckBtn:hover, #emailCheckBtn:hover {
	background: #F0975A;
}

/* 이메일 input */
#emailBorder {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
#emailBorder p {
	margin: 0 10px;
}
#userEmail1 {
	flex-grow: 10;
}
#userEmail2 {
	flex-grow: 10;
	margin-right: 10px;
}
#userEmail3 {
	flex-grow: 10;
}
.emailCheck {
	display: flex;
}
#emailCheck {
	width: 50% !important;
	flex-grow: 5;
	margin-right: 10px;
}


select {
	height: 50px;
}