#section {
	margin: 0 auto;
	max-width: 600px;
}

.title {
	padding-top: 80px;
	text-align: center;
	margin-bottom: 80px;
}

/* 필수입력사항 */
.necessary {
	font-weight: bold;
	color: red;
}

.idBorder {
	display: flex;
}



/* input제목 */
#block p {
	margin: 20px 0 0 0;
}

/* 아이디 input, btn */
.form_id {
	width: 50% !important;
	flex-grow: 5;
	margin-right: 10px;
}

#idCheckBtn,
#emailCheckBtn {
	display: block;
	flex-grow: 1;
	background: #F4B183;
	border: #F4B183;
	color: white;
	transition: 0.3s;
}

#idCheckBtn:hover,
#emailCheckBtn:hover {
	background: #F0975A;
}

/* 이메일 input */
#emailBorder {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

#emailBorder p {
	margin: 0 10px;
}

#userEmail1 {
	flex-grow: 10;
}

#userEmail2 {
	flex-grow: 10;
	margin-right: 10px;
}

#emailSelection {
	flex-grow: 10;
	margin-bottom: 0;
	height: 48.67px;
}

.emailCheck {
	display: flex;
}

#emailCheck {
	flex-grow: 5;
	margin-right: 10px;
}


/* 활동하고싶은동네 */
#block p#p2 {
	margin-top: 40px;
}

small.information {
	font-size: 15px;
}

#locBorder {
	display: flex;
	height: 48.67px;
}

#locBorder .locGu {
	margin-right: 10px;
}

/* 회원가입 로그인 버튼 */
.btns {
	margin-top: 100px;
	display: flex;
	margin-top: 100px;
	display: flex;
	justify-content: center;
}

#joinBtn,
#loginBtn {
	width: 135px;
	height: 50px;
	margin: 0 10px;
	background: #F4B183;
	border: #F4B183;
	color: white;
	transition: 0.3s;

}

#joinBtn:hover,
#loginBtn:hover {
	background: #F0975A;
}

#loginBtn a {
	text-decoration: none;
	color: white;
}