<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.yeoreobap.review.mapper.IReviewMapper">


<sql id="search">
	 	<if test="condition == 'title'">
	 		WHERE title LIKE CONCAT('%', #{keyword}, '%')
	 	</if>
	 	<if test="condition == 'writer'">
	 		WHERE writer LIKE CONCAT('%', #{keyword}, '%')
	 	</if>
	 	<if test="condition == 'content'">
	 		WHERE content LIKE CONCAT('%', #{keyword}, '%')
	 	</if>
	 	<if test="condition == 'restaurant'">
	 		WHERE sno LIKE CONCAT('%', #{keyword}, '%')
	 	</if>
	 	<if test="condition == 'titleContent'">
	 		WHERE title LIKE CONCAT('%', #{keyword}, '%')
	 		OR content LIKE CONCAT('%', #{keyword}, '%')
	 	</if>
	 </sql>



	<insert id="regist">
		INSERT INTO review
		(review_no, sno, writer, title, content)
		VALUES (#{reviewNo}, #{sno}, #{writer}, #{title}, #{content})
	</insert>
	<!-- regDate, updateDate 삭제 -->
	<select id="getList" resultType="review">
		SELECT r.*, u.user_nick, s.bplc_nm
		FROM review r JOIN users u
		ON r.writer = u.user_id
		JOIN store s ON r.sno = s.sno
		<include refid="search" />
		ORDER BY review_no DESC
		LIMIT #{pageStart}, #{cpp}
	</select>
	
	<select id="getList2" resultType="review">
		SELECT r.*, u.user_nick, s.bplc_nm
		FROM review r JOIN users u
		ON r.writer = u.user_id
		JOIN store s ON r.sno = s.sno
		ORDER BY review_no DESC
		LIMIT 0, 5
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*)
		FROM review
		<include refid="search" />
	</select>
	
	<select id="getContent" resultType="review">
		SELECT r.*, u.user_nick
		FROM review r 
		JOIN users u
		ON r.writer = u.user_id
		WHERE review_no = #{reviewNo}
	</select>
	
	<update id="update">
		UPDATE review
		SET title = #{title}, content = #{content},
		update_date = current_timestamp
		WHERE review_no = #{reviewNo}
	</update>
	
	<delete id="delete">
		DELETE FROM review
		WHERE review_no = #{reviewNo}
	</delete>
	
	<select id="getResList1" resultType="party">
		SELECT sno, bplc_nm
		FROM party
		WHERE writer = #{userId}
	</select>
	
	<select id="getResList2" resultType="party">
		SELECT p.sno, p.bplc_nm
		FROM participants s JOIN party p
		ON p.party_no = s.party_no
		WHERE s.user_id = #{userId}
	</select>

</mapper>